In [2]:
conda install -c conda-forge gmaps

Collecting package metadata (current_repodata.json): done
Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 4.9.0
  latest version: 4.9.1

Please update conda by running

    $ conda update -n base -c defaults conda



## Package Plan ##

  environment location: /Users/noelluna/opt/anaconda3

  added / updated specs:
    - gmaps


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    ca-certificates-2020.6.20  |       hecda079_0         146 KB  conda-forge
    certifi-2020.6.20          |   py38h5347e94_2         151 KB  conda-forge
    conda-4.9.0                |   py38h5347e94_1         3.0 MB  conda-forge
    openssl-1.1.1h             |       haf1e3a3_0         1.9 MB  conda-forge
    python_abi-3.8             |           1_cp38           4 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         5.2 MB

The following NEW packages will be INSTALLED:

  geojson            conda-forge/noarch::geojson-2.5.0-py_0
  gmaps              conda-forge/noarch::gmaps-0.9.0-py_0
  python_abi         conda-forge/osx-64::python_abi-3.8-1_cp38

The following packages will be UPDATED:

  certifi               pkgs/main::certifi-2020.6.20-py38_0 --> conda-forge::certifi-2020.6.20-py38h5347e94_2
  conda                       pkgs/main::conda-4.9.0-py38_0 --> conda-forge::conda-4.9.0-py38h5347e94_1

The following packages will be SUPERSEDED by a higher-priority channel:

  ca-certificates    pkgs/main::ca-certificates-2020.10.14~ --> conda-forge::ca-certificates-2020.6.20-hecda079_0
  openssl                                         pkgs/main --> conda-forge



Downloading and Extracting Packages
openssl-1.1.1h       | 1.9 MB    | ##################################### | 100%
python_abi-3.8       | 4 KB      | ##################################### | 100%
ca-certificates-2020 | 146 KB    | ##################################### | 100%
conda-4.9.0          | 3.0 MB    | ##################################### | 100%
certifi-2020.6.20    | 151 KB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

In [3]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [10]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Labuhan,ID,2020-11-04 06:03:09,-6.88,112.21,86.86,67,78,10.47
1,1,Saskylakh,RU,2020-11-04 05:59:51,71.92,114.08,-0.45,92,92,4.14
2,2,Basco,PH,2020-11-04 06:03:10,20.45,121.97,78.13,73,100,26.89
3,3,Craig,US,2020-11-04 06:03:10,40.52,-107.55,42.80,74,75,3.36
4,4,Krivodol,BG,2020-11-04 06:03:10,43.37,23.48,54.09,82,100,6.76
...,...,...,...,...,...,...,...,...,...,...
576,576,Itaituba,BR,2020-11-04 06:01:27,-4.28,-55.98,75.07,91,98,1.99
577,577,Kamenka,RU,2020-11-04 06:04:37,51.32,42.77,45.14,79,55,8.88
578,578,Portland,US,2020-11-04 06:00:13,45.52,-122.68,61.00,93,75,4.70
579,579,Balkanabat,TM,2020-11-04 06:04:38,39.51,54.37,75.29,15,7,15.66
580,580,Kyshtovka,RU,2020-11-04 06:04:38,56.55,76.63,32.32,87,96,17.52

In [5]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [19]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [21]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [26]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Labuhan,ID,2020-11-04 06:03:09,-6.88,112.21,86.86,67,78,10.47
2,2,Basco,PH,2020-11-04 06:03:10,20.45,121.97,78.13,73,100,26.89
7,7,Nchelenge,ZM,2020-11-04 05:59:22,-9.35,28.73,76.33,64,100,4.25
10,10,Souillac,MU,2020-11-04 06:03:11,-20.52,57.52,77.00,53,75,16.11
14,14,Victoria,HK,2020-11-04 05:58:16,22.29,114.16,78.01,60,5,12.21
17,17,Sydney,AU,2020-11-04 06:01:26,-33.87,151.21,78.01,50,0,21.92
19,19,Kapaa,US,2020-11-04 05:59:31,22.08,-159.32,78.80,88,90,9.17
20,20,Hilo,US,2020-11-04 06:03:12,19.73,-155.09,80.60,78,90,4.83
23,23,Mareeba,AU,2020-11-04 06:03:12,-17.00,145.43,89.01,37,96,8.99
26,26,Atuona,PF,2020-11-04 05:59:24,-9.80,-139.03,78.40,79,16,21.32

In [27]:
preferred_cities_df.count()

City_ID       163
City          163
Country       163
Date          163
Lat           163
Lng           163
Max Temp      163
Humidity      163
Cloudiness    163
Wind Speed    163
dtype: int64

In [28]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

         City Country  Max Temp    Lat     Lng Hotel Name
0     Labuhan      ID     86.86  -6.88  112.21
2       Basco      PH     78.13  20.45  121.97
7   Nchelenge      ZM     76.33  -9.35   28.73
10   Souillac      MU     77.00 -20.52   57.52
14   Victoria      HK     78.01  22.29  114.16
17     Sydney      AU     78.01 -33.87  151.21
19      Kapaa      US     78.80  22.08 -159.32
20       Hilo      US     80.60  19.73 -155.09
23    Mareeba      AU     89.01 -17.00  145.43
26     Atuona      PF     78.40  -9.80 -139.03

In [29]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [32]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [33]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Labuhan,ID,86.86,-6.88,112.21,bador sepret
2,Basco,PH,78.13,20.45,121.97,Nathaniel's Lodge
7,Nchelenge,ZM,76.33,-9.35,28.73,Mweru Water Transport
10,Souillac,MU,77.00,-20.52,57.52,Bils' Villa
14,Victoria,HK,78.01,22.29,114.16,Mini Hotel Central
17,Sydney,AU,78.01,-33.87,151.21,QT Sydney
19,Kapaa,US,78.80,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
20,Hilo,US,80.60,19.73,-155.09,Hilo Hawaiian Hotel
23,Mareeba,AU,89.01,-17.00,145.43,Trinity Plains Tourist Park
26,Atuona,PF,78.40,-9.80,-139.03,Villa Enata

In [35]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [36]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]